body {
  margin: 0;
  font-family: Helvetica;
}

img { border: 0; }

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.clear { clear: both; }

.shadow {
  -moz-box-shadow: 5px 5px 5px #533535;
  -webkit-box-shadow: 5px 5px 5px #533535;
  box-shadow: 5px 5px 5px #533535;
}

#header { 
  height: auto;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 10px 0px;
  background-color: #DBCD87;
  border-bottom: solid 2px #533535;
  z-index: 1000;
}

#navigation {
  line-height: 24px;
}

  #navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 
  }

  #navigation ul li {
    float: left;
    margin: 0 0 0 20px;
    font-size: 14px;
  }

  #navigation a {
    color: #533535;
    text-decoration: none;
  }

  #navigation a:hover {
    text-decoration: underline;
  }

#logo { 
  margin-top: 44px;
  text-align: center;
}

#root_container {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  background-color: #AFC78F;
  position: relative;
}

#content {
  width: 850px;
  margin: auto;
}

#content h2 {
  font-family: Bookman;
}

#content p, #content li {
  font-size: 16px;
  line-height: 21px;
}

  #buy_now {
    float: right;
    width: 160px;
    margin-left: 5px;
    border: solid 1px #533535;
    border-radius: 15px;
    background-color: #E9DA8F;
    padding: 0px 15px;
  }
    
    #buy_now h3 {
      margin-bottom: 5px;
    }

    #buy_now_label {
      font-size: 14px;
    }

    #buy_now_textfield {
      width: 160px;
    }

  #schedule {
    margin: 0px 15px;
    border: solid 2px #533535;
  }

    #schedule th, #schedule td {
      padding: 14px 12px;
      border-bottom: solid 2px #533535;
      vertical-align: top;
      font-size: 12px;
      text-align: left;
    }

    #schedule th {
      background-color: #533535;
      color: #E9DA8F;
      font-size: 14px;
    }

    #schedule td h4 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    #schedule td p {
      font-size: 12px;
      line-height: 16px;
      margin-top: 4px;
    }

      #schedule table.details th, #schedule table.details td {
        background-color: inherit;
        color: inherit;
        border: none;
        font-size: 12px;
        padding: 4px 4px;
      }

      #schedule table.details th {
        white-space: nowrap;
      }

    #schedule td.date {
      text-align: center;
    }

    #schedule tr.emphasize td {
      background-color: #E9DA8F;
    }

    #schedule tr.emphasize td.cost {
      font-weight: bold;
    }

    #schedule tr.last td {
      border-bottom: none;
    }

#content .section-last {

}

#footer_container {
  width: 100%;
  background-color: #DBCD87;
  border-top: solid 1px #533535;
}

#footer {
  width: 850px;
  margin: auto;
  padding: 15px 0px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

#footer p {
  margin: 0;
}
